<div id="chartContainer" style="height: 600px;"></div>
<%= @ecg_reading.comment %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <form action="patient" method="post" >
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Коментарий</label>
                    <input type="text" class="form-control" name="comment" value="<%= @ecg_reading.comment %>">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary pull-right">Изменить</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
window.onload = function () {
var array = <%= @ecg_value %>;
var new_arr= [];

array.forEach(function(element) {
  new_arr.push({y: element})
});


var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	zoomEnabled: true,
	theme: "light2",
	title:{
		text: "ECG <%= @ecg_reading.created_at %>"
	},
	axisY:{
		includeZero: false
	},
	data: [{
		type: "line",
		markerSize: 1,
		dataPoints: new_arr
	}]
});
chart.render();

}

</script>

<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
